.loginForm{
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 20px 50px 40px;
    text-align: left;
    border-radius: 5px;
    margin: 20px
}

.activityForm{
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 20px 50px 40px;
    text-align: left;
    border-radius: 5px;
    margin: 20px
}

@media screen and (max-width : 640px){
    .activityForm{
        padding: 20px 30px 20px;
        margin: 20px 0px 20px 0px;
        width: 80%;
    }

    .loginForm{
        padding: 20px 30px 20px;

        margin: 20px 0px 20px 0px;
        width: 80%;
    }
}




.alignRight{
    text-align: right;
    margin: 5px;
}

hr {
    margin: 15px 0px 20px;
    border: none;
    height: 1px;
    background-color: var(--primary-color);
}

.redirectText{
    display: flex;    
}