.centeringDiv{
    display: inline-flex;
    border-radius: 5px;
}
.userPage{
    margin: 20px;
    display: inline-flex;
    width: auto;
    justify-content: center;
    border-radius: 5px;
}

@media screen and (max-width : 768px){
    .centeringDiv{
        display: flex;
        width: 100%;
    }
    .userPage{
        flex: 1;
    }

}