.userDetails{
    background-color: var(--secondary-color);
    padding: 20px 50px 40px;
    text-align: left;
}

.userDetails > p {
    margin-bottom: 10px;
}
.alignRight{
    text-align: right;
}

.userPageNav {
    background: var(--tertiary-color);
    width: 30%;
    float: left;
}
.userPageNav > ul {
    list-style: none;
    margin: 0;
}

