.dropDown{
    list-style: none;
    position: absolute;
    width: 16.8ch;
    text-align: left;
    background-color: var(--secondary-color);
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color);
}
.dropDown> a {
    color: var(--default-font-color);
}
.dropDown > a:hover {
    color: var(--primary-color)
}

.dropDownItem{
    padding: 15px;
    border-bottom: 1px solid var(--primary-color);
}
.dropDownItem:hover{
    background-color: var(--tertiary-color);
    cursor: pointer;
}


.userHeader{
    text-align: left;
    margin: 0;
    width: 150px;
    cursor: pointer;
    color: var(--tertiary-color);
}