/*https://stackoverflow.com/questions/40769551/how-to-use-google-fonts-in-react-js*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900");

/*
https://www.codegrepper.com/code-examples/css/set+root+primary+color+css
*/
:root {
  --primary-color: #4bb36a;
  --secondary-color: rgb(194, 243, 207);
  --tertiary-color: #fff;

  --default-font: 'Inter';
  --default-font-color: #310e63;

}

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

body {
  font-family: var(--default-font);
  color: var(--default-font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--tertiary-color);
}


/*
https://stackoverflow.com/questions/42188291/vertically-align-text-with-different-font-sizes-in-navigation-bar 
http://jsfiddle.net/mdqf81da/ 
*/
.navigation-bar{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--primary-color);
  padding: 5px 20px 10px 20px;
}

.navigation-bar > h1{
  display: inline-block;
}

nav > ul > li {
  display: inline-block;
  padding-left: 20px;
}
.navigation-bar > button.hamburger {
  display: none;
}

.navbar-small{
  display: none;
}

.menu-button{
  display: none;
}


.activity-details{
  padding: 10px 20px;
  height: 200px;
}

.image-container{
  height: 100%;
}

.post-image{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width : 640px){
  .navbar-big {
    display: none;
  }
  .navigation-bar > button.hamburger {
    display: block;
  }
  .navbar-small {
    display: block;

  }
  .navbar-small > nav > ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondary-color);
  }

  .navbar-small > nav > ul > li{
    padding: 10px;
  }

  .smth_item:hover{
    background-color: var(--secondary-color);
  }

  .navbar-small > nav > ul > li > a {
    color: var(--primary-color)
  }

  .navbar-small{
    list-style: none;
    text-align: left;
    background-color: var(--secondary-color);
    margin-top: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

  }
  .navbar-small> a {
      color: var(--default-font-color);
  }
  .navbar-small > a:hover {
      color: var(--primary-color)
  }
  .navbar-item{
      flex: 1;
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid var(--primary-color);
  }
  .navbar-item:hover{
      background-color: var(--tertiary-color);
      cursor: pointer;
  }
  .menu-button{
    display: block;
    cursor: pointer;
  }



}