.parameters-container{
    border-style: dotted;
    border-width: thin;
    border-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.parameters-text{
    color: var(--primary-color);
}

a:link 
{
    color: var(--primary-color);
}

a:hover{
    color: rgb(19, 65, 42);
}

