/* Styling the shape of the icon - small/round*/
.icon-styling{
    color: var(--primary-color);
    font-size: 36px;
}
.icon-styling:hover{
    cursor: pointer;
}

.proper-align{
    display: flex;
    flex-direction: column;
}